<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/components/Home/Hero/Hero.css">
</head>
<body>
  <div class="container">
    <img src="/public/hero-planet.png" alt="">
    <div class="hero-text">
      <h1>Welcome to Chukuto Planet!</h1>
      <p>
        Welcome to our digital learning community! This blog is designed to support your English language development while expanding your knowledge of computer science. Let's learn together and become proficient in both technical English and IT concepts.
      </p>
    </div>
  </div>
</body>
</html>